*{
    background-color: #111211;
}
.page{
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    scroll-snap-align: start;
}
.main-page{
    margin-bottom: 64px;
}

.icon{
    color: rgb(49, 145, 209);
}
.navbar{ 
    position: sticky;
    top: 0; 
    width: 90%;
    margin: auto;
    padding: 50px, 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}    
.navbar ul li a{
    text-decoration-line: none;
    color: white;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
nav .fa-solid{
    color: white;
}

.row{
    display: flex;
}
.main-page{
    margin-bottom: 8%;
    padding: 3%;
}
.col-1{
    flex-basis: 50%;
}
.link {
    margin-left:118px;
    margin-top: 10px;
    display: flex;
}

.link a img {
    width: 50px;
    height: auto;
}
.col-1 h1 {
    font-size: 35px;
    color: aliceblue;
    margin-top: 200px;
    margin-left: 130px ;
    margin-bottom: 0;
}

.col-1 p{
    font-size: 20px;
    color: aliceblue;
    margin-top: 10px;
    margin-left: 28%;
}
.col-2{
    margin-left: 150px;
}
.col-2 img{
    margin-right: 100px;
    color: aliceblue;
    margin-top: 120px;
    width: 500px;
}
.second-page{
    margin-top: 80px;
    padding: 2%;
}
.row-1{
    justify-content: center;
    display: flex;
}
.row-1 h1{
    font-size: 40px;
}
.col-3{
    color: aliceblue;
    flex-basis: 50%;
}
.list-educ{
    margin-left: 2px;
    margin-top: 2px;
}
.list-educ h4{
    color: rgb(49, 145, 209);
}
.col-4{
    color: aliceblue;
}
.col-4 .container{
    margin-top: 2px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
  }
.skill {
    margin-bottom: 15px;
  }
.skill h4 {
    margin-bottom: 5px;
  }
.skill-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    height: 10px;
  }
.skill-level {
    height: 100%;
    border-radius: 10px;
  }
.photoshop {
    width: 50%;
    background-color: rgb(49, 145, 209);
  }
.adobe {
    width: 30%;
    background-color: rgb(49, 145, 209);
  }
.love {
    width: 100%;
    background-color: rgb(49, 145, 209);
  }
.swimming {
    width: 75%;
    background-color: rgb(49, 145, 209);
  }
/* contact to ha*/
.Cm{
    font-size: 40px;
    color: white;
    text-align: center;
}
.border {
    padding: 2%;
    margin-left: 38%;
    border: 2px solid white;                        
    border-radius: 4px;  
    width: 20%;
}     

.contact{
    text-align: center;
}
.contact h2{
    color: rgb(49, 145, 209);
}
.contact a{
    text-decoration: none;
    color: white;

}
.list{
    margin-top: 2px;
    margin-bottom: 4%;
}
.link2 {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
}

.link a img {
    width: 40px;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .navbar {
        position: sticky;
        text-align: center;
    }
    .navbar ul {
        flex-direction: column;
        gap: 15px;
    }
    .row {
        flex-direction: column;
    }
    .col-1 h1 {
        margin-top: 50px;
        margin-left: 2px;
        font-size: 40px;
    }
    .col-1 p {
        font-size: 20px;
        margin-left: 2px;
    }
    .col-2{
        margin-left: 80px;
    }
    .col-2 img{
        margin-right: 100px;
        color: aliceblue;
        margin-top: 52px;
        width: 220px;
    }
    .row-1{
        flex-direction: column;
    }
    .row-1 h1{
        font-size: 20px;
    }
    .col-3{
        color: aliceblue;
        flex-basis: 50%;
    }
    .list-educ{
        margin-left: 2px;
        margin-top: 2px;
    }
  
    .contact {
        width: 80%;
        margin: 0 auto;
    }
    
    .border {
        width: 100%;
    }

    .link {  
        margin-left: 150px;
    }
    .link a img {
        width: 40px;
        height: auto;
    }

}
